.sortBar {
  background-color: #739072;
  color: #ECE3CE;
  padding: 20px;
}

.options {
  background-color: #739072;
  color: #ECE3CE;
  border: 1px solid #b09d71;
  font-size: 16px;
  outline: none;
}

@media (min-width: 768px) {
  .sortBar {
    font-size: 22px;
    text-align: right;
    padding: 32px 60px;
  }
}