.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #3a4d392a;
  padding: 1rem 0;
  margin: 1rem 0;
}

.item h2 {
  margin: 0 0 0.5rem 0;
  color: #3a4d39d0;
}

.price {
  font-weight: bold;
  color: #3A4D39;
  font-size: 1.25rem;
}

.amount {
  font-weight: bold;
  border: 1px solid #739072;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  color: #3A4D39;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.item button {
  font-weight: bold;
  font-size: 1.25rem;
  color: #739072;
  border: 1px solid #739072;
  width: 3rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 6px;
  margin-bottom: 12px;
}

.item button:hover,
.item button:active {
  background-color: #739072;
  color: #ECE3CE;
}