.captWrapp {
  color: #739072;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.captWrapp img {
  height: inherit;
}

.cartBtn {
  display: flex;
  justify-content: flex-end;
  margin: 25px 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.cartBtn button{
  margin-left: 8px;
}

.text {
  color: #3a4d39d0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.shpgList {
  max-height: 50vh;
  overflow: scroll;
}
