.items {
  padding: 0 20px 90px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .items {
    padding: 0 60px 110px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: normal;
    justify-content: space-between;
  }
}