.button {
  background-color: #739072;
  color:  #ECE3CE;
  padding: 10px 25px;
  border: 2px solid #3A4D3933;
  white-space: nowrap;
  display: flex;
  align-items: center;
  border-radius: 30px;
  font-weight: bold;
  box-shadow: 0 2px 8px #3A4D39;
}

@media (min-width: 768px) {
  .button {
    padding: 15px 35px;
  }
}

.button:hover,
.button:active {
  cursor: pointer;
  background-color: #587657;
  border: 2px solid #ECE3CE;
  box-shadow: 0 2px 8px #ECE3CE;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #A25B5B;
  padding: 0.25rem 1rem;
  border-radius: 25px;
}

.btnName {
  display: none;
}

@media (min-width: 768px) {
  .btnName {
    display: block;
  }

  .badge {
    margin-left: 10px;
  }
}

