.card {
  padding: 15px;
  margin-bottom: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: #ECE3CE;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .card {
    width: 32%;
    padding: 25px;
    margin-bottom: 20px;
  }
}